<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MadLib Story Generator</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel='stylesheet' href={{url_for('static', filename='style.css')}}>
</head>

<body>
    <h1>Madlibs</h1>
    <form action="/story" method="post">
        <label for='place-input'>Place:
            <input type='text' name='place' id='place-input' placeholder='Enter a place'>
        </label>
        <br>
        <label for='noun-input'>Noun:
            <input type='text' name='noun' id='noun-input' placeholder='Enter a noun'>
        </label>
        <br>
        <label for='verb-input'>Verb:
            <input type='text' name='verb' id='verb-input' placeholder='Enter a verb'>
        </label>
        <br>
        <label for='adjective-input'>Adjective:
            <input type='text' name='adjective' id='adjective-input' placeholder='Enter an adjective'>
        </label>
        <br>
        <label for='plural-input'>Plural Noun:
            <input type='text' name='plural_noun' id='plural-input' placeholder='Enter a plural noun'>
        </label>
        <br>
        <button type='submit'>Submit</button>
    </form>
</body>
</html>
