<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}
    <h2>Available Pets</h2>
    <ul>
        {% for pet in pets %}
            <li>
                <strong>{{ pet.name }}</strong>
                {% if pet.photo_url %}<img src="{{ pet.photo_url }}" alt="Photo of {{ pet.name }}">{% endif %}
                {% if pet.available %}<strong>Available</strong>{% endif %}
                <a href="{{ url_for('edit_pet', pet_id=pet.id) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

    
</body>
</html>